.App {
  margin: 0 auto;
  max-width: 1900px;
  font-family: sans-serif;
  text-align: center;
  /* display: flex;
  gap: 1rem;
  flex-wrap: wrap; */
  width: 98vw;
  height: 98vh;
  position: relative;

  div {
    /*flex: 1;
     min-width: 400px;
    max-width: 1600px; */
    padding: 0.1rem;
    box-sizing: border-box;
  }
}